






<div class="feed mudar_Senha">
    <h1>Digite a Nova Senha</h1>

    <form action="#" method="post">
        <label for="nova_Senha">Nova Senha</label>
        <input type="text" name="nova_Senha" id="nova_Senha" placeholder="Digite a nova senha"><br>
        <label for="repetir_nova_senha">Repetir Senha</label>
        <input type="text" name="repetir_nova_senha" id="repetir_nova_senha" placeholder="Repita a senha"><br>
        <button type="submit">Mudar senha</button>
    </form>



</div>